extends layout

block append content
  h1 #{title}
  br

  h2 Vessel Details
  div#jsGrid

  hr
  form(action="/", method="get")
    button.btn(type="submit") Cancel
    button.btn(type="submit") Save
  hr
  h2 Reference Trades from Kpler
  div.box
    form(action="/useThis", method="get")
      table.table.table-striped.table-bordered.table-hover.table-condensed
        tr.thick
          td Vessel
          td Origin date
          td Origin
          td Seller
          td Destination
          td Destination date
          td Buyer
          td Charterer
          td Cargo
          td Product
        if (typeof tradesModel === "undefined")
          tr
            td
        else
          each trade in tradesModel
            tr
              td #{trade.vessel_id}
              td #{trade.origin_date}
              td #{trade.origin_id}
              td #{trade.seller}
              td #{trade.destination_id}
              td #{trade.destination_date}
              td #{trade.buyer}
              td #{trade.charterer}
              td #{trade.value}
              td #{trade.product_name}
              td
                button.btn(type="submit") Use this
  hr
  h2 Vessel History
  div.box
